@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --font-family-1: "Open Sans", sans-serif;
  --font-family: "Poppins", sans-serif;
}
.first-background {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: var(--Very-Pale-Cyan);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}

.headbutton {
  background-color: white;
  border: none;
  border-radius: 30px;
  color: black;
  padding: 15px 32px;
  text-align: center;
}

.first {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding-top: 15px;
}

.cards {
  width: 50%;
}
.build {
  width: 50%;
}
.build h2 {
  font-size: 50px;
  font-family: var(--font-family-1);
}

.build p {
  font-size: 18px;
  font-family: var(--font-family-1);
  font-weight: 100;
  line-height: 24px;
  width: 90%;
  padding-top: 3%;
}

.cards img {
  width: 100%;
}
.getbutton {
  background-color: var(--pink);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-top: 4%;
  font-family: var(--font-family);
}

.second-background {
  width: 90%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  
}

.container1,
.container2,
.container3 {
  display: Flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  padding: 40px 30px 40px 80px;
  border-radius: 15px;

}
.container1 p,
.container2 p,
.container3 p {
  font-size: 18px;
  font-weight: 30;
  font-family: var(--font-family-1);
  margin-top: 15px;
  color: var(--Grayish-Blue)
}

.second-img,
.third-img,
.forth-img {
  width: 40%;
  
}
.second-img > img,
.forth-img > img,
.third-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grow,
.flow,
.your {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readybutton {
  background-color: var(--pink);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-top: 4%;
  font-family: var(--font-family)
  

}

.ready {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: absolute;
  top: -130px;
  /* bottom:150px; */
  /* z-index: +1; */
}
.ready h2{
  color: black;
  font-family: var(--font-family-1);
}

.end-container {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  position: relative;
  padding: 150px 0 100px;
  
  
}

.footer-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  
  
  
}
.column1 {
 width: 25%;
}

.column1 p, .column2 p, .column3 p {
  color: var(--Grayish-Blue);
  /* padding: 10px 0; */
  margin-bottom: 16px;
  font-family: var(--font-family-1);
  
  
}
.addy, .phone, .email{
  display: flex;
  align-items: flex-start;
}

.addy img, .phone img, .email img{
  /* display: inline-block; */
  margin-right: 10px;
} 
.logo {
  filter: brightness(0) invert(1);
  padding-bottom: 20px;
  padding-left: 5%;
}
 .socials{
  display: flex;
  justify-content: space-between;
  gap: 10px;

 }
.socials span {
  display: grid;
  place-content: center;
  border: #ffffff solid;
  border-radius: 100%;
  width: 30px;
  height: 30px;
 
}

@media screen and (max-width: 768px) {
  .header{
    padding: 30px 0;
  }

  .first-background{
    align-items: center;
    justify-content: center;
  }
  .header a img {
    width: 100%;
  }
  .headbutton {
    background-color: white;
    border: none;
    border-radius: 30px;
    color: black;
    padding: 10px 40px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-family: var(--font-family-1);}

    .first {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      
      
    }
    .cards{
      width: 100%;
      padding-top: 55px;
    }

    .build {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

    }

    .build h2 {
      font-size: 40px;
      width: 85%;
    }

    .build p {
      font-size: 22px;
      width: 90%;
      font-family: var(--font-family-1);
      color: var(--Very-Dark-Cyan);
      line-height: 30px;
      padding-bottom: 40px;
    }

    .getbutton {
      background-color: var(--pink);
      border: none;
      border-radius: 30px;
      color: white;
      padding: 20px 100px;
      text-align: center;
      margin-top: 4%;
      font-family: var(--font-family);
      
    }


.container2 {
  display: Flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.container1,
.container3 {
  display: Flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
 
.grow,
.flow,
.your {
  width: 100%;
  text-align: center;
  padding: 20px 0 ;
}

.grow h2,
.flow h2,
.your h2{
  padding: 20px 0 ;
}
  
  
.second-img,
.third-img,
.forth-img {
  width: 100%;
  
}

.container1 p,
.container2 p,
.container3 p {
  margin: 10px;
}

.second-background {
  width: 90%;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  
}

.ready{
  width: 90%;
}
.logo{
  width: 40%;
}

.footer-mini {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  
  
  
}
.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .column1 {
  width: 80%;
}
   


}


@media screen and (max-width: 500px) {
  .header a img {
    width: 70%;
  }
  .headbutton{
    width: 40%;
    padding: 5px 10px;
    font-size: 10px;
  }

  .build h2 {
    font-size: 30px;
    width: 85%;
  }

  .build p {
    font-size: 20px;
  }

  

  .logo img{
    width: 70%;
  }

  .container1 p,
.container2 p,
.container3 p {
  font-size: 15px;
  width: 85%;
  text-align: center;
  margin: auto;
  
  
 
}
.container1 h2,
.container2 h2,
.container3 h2 {
  font-size: 20px;
  text-align: center;
  
  
}

.container1 img,
.container2 img,
.container3 img {
  width: 80%;
  padding-left: 15%;
  padding-top: 40px;
  
  
}






}

@media screen and (max-width: 400px) {
  .build h2{
    font-size: 20px;

  }

  .build p {
    font-size: 15px;
  }

  .getbutton{
    padding: 18px 40px;
  }
  
  .ready h2{
    font-size: 17px;
    
  }

  .readybutton {
    padding: 10px 35px;
  }
  
  





}
